<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>转场</string>
		<key>clsName</key>
		<string>SYJTransitioningViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>指纹、人脸识别解锁</string>
		<key>clsName</key>
		<string>SYJBiometricViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手势解锁</string>
		<key>clsName</key>
		<string>SYJGestureViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>可编辑的CollectionView Demo</string>
		<key>clsName</key>
		<string>SYJCollectionsController</string>
	</dict>
</array>
</plist>
